body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 16px; /* El tama침o de la fuente principal en el tag <p></p> */
    background-color: #6a617a; /* El color del fondo de la p치gina web */
    color: #60a179; /* El color del texto*/ 
}
h1 {
    color: #08f8d8; /* El color de la cabecera */
    font-size: 35px; /* El tama침o de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipogr치fica utilizada en la cabecera */
}
