body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 16px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #c97201; /* El color del fondo de la página web */
    color: #d2e905; /* El color del texto*/ 
    
}
h1 {
    border: 13px; /* El borde de la página web */
    color: #a01402; /* El color de la cabecera */
    font-size: 35px; /* El tamaño de la fuente de la cabecera */
    font-family: Georgia, serif; /* La familia tipográfica utilizada en la cabecera */
}
